/**
  * IMPORTANT NOTE:
  * The default e-commerce css only includes the basics and it is recommended that you theme these files.
  * Also make sure you have the site's general layout and typography styled before you do this.
  **/


.loadingCartData  #Table_Order_Total, .loadingCartData #Amount {
	color: #e7e7e7!important;
	background-image: url(/themes/main_ecommerce/images/loading.gif);
	background-position: top right;
	background-repeat: no-repeat;
}

#MethodFields_PayPalPayment {margin-left: 270px}
#MethodFields_PayPalPayment img {display: inline-block; float: none; margin-left: 0px; margin-right: 10px}
.checkoutStepPrevNextHolder { position: relative; padding-bottom: 20px; padding-top: 20px; }
.checkoutStepPrevNextHolder.prev { display: none; }
.checkoutStepPrevNextHolder a {display: block;}
.checkoutStepPrevNextHolder a:hover {display: block;}
.next a {position: absolute; right: 0px;}
.prev a {position: absolute; left: 0px;}
.Actions .next {float: right;}


#InformationTable, #AddressesTable {width: 100%!important;}

#CartPageMessage  {margin-top: 20px; margin-bottom: 20px; }
#CartPageMessage p {font-size: 12px!important; padding: 0px; padding-left: 10px;}


.selectorderaddress ul {border-top: 1px solid #D3D4B6; width: 376px;}
.selectorderaddress ul li {clear: both; }
.selectorderaddress ul input {float: left;}
.selectorderaddress ul address {display: block; width: 60%; float: left; margin-left: 0px;}
.selectorderaddress ul .clearer {clear: both; margin-bottom: 10px;}
.noLongerInUse {display: inline-block; float: right; width: 20%;}


#Checkout h2.orderStepHeading {margin-top:30px;}
#OrderFormAddressHolder form {padding-top: 0px;}
 {padding-top: 0px;}

.productImage {float: left; margin-right: 1em;}

#ContentHolder {clear: both; padding-top: 3em;}

.viewGoogleMapLink img {float: none;}

.leftOrderShipping {clear: both;}
